<%= render partial: 'shared/error_messages', locals: { object: @post } %>
  
  <div class="topic_all">
  <% if @topic.youtube.present? %>
  <iframe src="https://www.youtube.com/embed/<%= @topic.youtube %>"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen=""
        frameborder="0"
        height="415"
        width="700"></iframe>
  <% end %>
  
  <div id="posts_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'posts/index', locals: { posts: @posts, topic: @topic } %>
  </div>

  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'posts/form', locals: { post: @post, topic: @topic } %>
  </div>