// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.talk_room {
  padding:0;
  background: #FFFFF0;
  overflow: hidden;
  max-width: 1000px;
  margin: 0px auto;
  font-size: 80%;
}

#center {
  text-align: center;
}

#messages_area {
  overflow: scroll;
  height: 500px;
}

.dmimage {
  display: block;
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100px;
}

#translate{
  resize: none;
  width: 500px;
  height: 45px
}

#image-input {
  display: none;
}

.upload-icon {
  cursor: pointer;
}

#upload-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.upload {
  width: 40px;
  height: 40px;
  background-color: red;
}

#camera-icon{
  border-radius:50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  background-color: black;
}

.soushin{
  border-radius:50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.item.right {
  text-align: right;
  /* 他のスタイルを追加 */
}

/* メッセージを左側に表示するスタイル */
.item.left {
  text-align: left;
  /* 他のスタイルを追加 */
}

.talk_icon {
  width:50px;
  height:50px;
  border-radius:50%;
  object-fit: cover;
  object-position:54% 36%;
}


/*メッセージの上の名前バー*/
.partner {
  display: block;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 25px;
}

.partner a {
  text-decoration: none;
}

/*名前バーの矢印リンク*/
.bi-arrow-bar-left {
  text-decoration: none;
  color: white;
}
