// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.talk_room {
  padding:0;
  background: #FFFFF0;
  overflow: hidden;
  width: 800px;
  margin: 0px auto;
  font-size: 80%;
}

#center {
  text-align: center;
}

#messages_area {
  overflow: scroll;
  height: 600px;
}

.dmimage {
  display: block;
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100px;
}

#translate{
  resize: none;
  width: 500px;
  height: 45px
}

/* ファイル選択の表示をなくしてる */
#image-input {
  display: none;
}

.bi-cursor{
  font-size: 25px;
}

.soushin{
  border: none;
  background:none;
  margin-bottom: 6px;
}


.item.right {
  text-align: right;
}
/* 他のスタイルを追加 */

/* メッセージを左側に表示するスタイル */
.item.left {
  text-align: left;
  /* 他のスタイルを追加 */
}

#right{
  position: relative;
  display: inline-block;
  background: #35b6f1;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  font-size: 15px;
}

#left{
  position: relative;
  display: inline-block;
  background: #f0f2f4;
  border-radius: 10px;
  padding: 5px;
  color: black;
  font-size: 15px;
}


.talk_icon {
  width:50px;
  height:50px;
  border-radius:50%;
  object-fit: cover;
  object-position:54% 36%;
}


/*メッセージの上の名前バー*/
.partner {
  display: block;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 25px;
}

.partner a {
  text-decoration: none;
}

/*名前バーの矢印リンク*/
.bi-arrow-bar-left {
  text-decoration: none;
  color: white;
}

.message_soushin{
  text-align: center;
}

.bi-camera{
  padding: 10px;
}