// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.icon {
  width:70px;
  height:70px;
  border-radius:50%;
  object-fit: cover;
  object-position:54% 36%;
}