div.langage p {
    margin: 0.35em 0px;
}

details {
  text-align: right
}

summary {
  list-style: none;
}

nav {
  width: 100%;
  height: 50px;
  background-color: dimgray;
  padding-top: 10px;
  box-sizing: border-box;
}

.menu_ul {
  display: flex;
}

.menu_ul li {
  list-style: none;
}

.user_menu {
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
}

.event_menu {
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
}

.topic_menu {
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
}

.top_menu {
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
}

.conversation_menu{
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
}

.admin_menu {
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
}

.korean {
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
  width: 30px;
  
}

.japanese {
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
  text-align: left;
  width: 30px;
  
}

.topimage {
  width: 120px;
}

.icon {
  margin: 0 auto;
  display: flex;
}

/*.kotei {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 90;
  height: 100px;
}*/

.language {
  text-align: right;
}

.footer {
  background-color: dimgray;
  padding: 10px 0;
}
.footer p {
  margin-bottom: 0;
  color: white;
}

.navbar-nav li a{
  width: 230px;
  text-align: lefr;
}

.bg-light{
  height: 110px;
}
/*言語アコーディオン*/
#pattern1 {
  background-color:#7fffd4;
  width:300px;
  }

