// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.topic_icon {
  width:85px;
  height:85px;
  border-radius:0%;
  object-fit: cover;
  object-position:54% 36%;
}

.ichiran {
  margin: 0 auto;
  border: 1px solid white;
} 

.ichiran td{
  border: 3px solid white;
  vertical-align:top
}

.topic_soushin {
  background-color: #FFE4E1;
  border-radius:10px;
}

#bk{
  background-color: 	#D3D3D3;
  width: 600px;
}

.topics{
  width: 700px;
  margin: auto;
}

.topic_menu_bar_button{
  text-align: right;
  width: 700px;
  margin: auto;
}

.topic_all{
  width: 800px;
  margin: auto;
  text-align: center;
  background-color: #cff0cf;
}

