// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*TOPのアイコン*/
.user_icon {
  width:100px;
  height:100px;
  border-radius:50%;
  object-fit: cover;
  object-position:54% 36%;
}

/*マイページのアイコン*/
.mypage_user_icon {
  width:150px;
  height:150px;
  border-radius:50%;
  object-fit: cover;
  object-position:54% 36%;
}

/*マイページのギャラリー*/
.userimages {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.user_button {
  border: none;
  background-color: rgb(67, 185, 140);
  padding: 3px;
}

/*followボタン*/
.followbtn {
  border: none;
  background:transparent;
}

.bi-heart-fill{
  font-size: 50px;
  color: lightpink;
}

/*removeボタン*/

.remove {
  border: none;
  background:transparent;
}

.bi-heartbreak-fill {
  font-size: 50px;
  color: lightpink;
}


.bi {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.bi-envelope-heart {
  font-size: 50px;
  color: lightpink;
}


.userimages:hover {
  opacity: 0.5;
}

.user_button p {
  text-align: center;
}

.nav-link {
  width: 500px;
  text-align: center;
  font-size: 23px;
  justify-content: center;
}

#name {
  text-align:center
}

#btn{
  text-align:center
}

.user_introduce{
  width: 300px;
  position: relative;
  display: inline-block;
  vertical-align: center;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background:         #FFE4B5;
  box-sizing: border-box;
  border-radius: 12px;
}

/*user_introduce:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.user_introduce:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

.user_introduce td {
  margin: 0;
  padding: 0;
}*/

.flex-container {
  width: 800px;
  height: 100vh;
  margin:auto;
  margin-top: 60px;
}

#user_image_td{
  text-align: center;
}

#user_moji{
  color: gray;
}

.user_search_ber{
  width: 800px;
  text-align: center;
}


#tag{
  width: 400px;
  height: 40px;
}

.bi bi-search{
  background-color: none; 
}

/*followerのパーシャル*/
.flex-container_follower{
  text-align: left;
  width: 800px;
}
/*ここまで*/

.edit_all{
  margin-top: 100px;
  margin-bottom: 30px;
}

.mytab{
  margin-bottom: 100px;
}

.location_coment{
  font-size: 13px;
}

.index_table{
  padding-bottom: 500px;
  width: 800px;
  height: 100vh;
}